# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.ipynb_checkpoints/
# Data/Results
# data/raw/
data/processed/
gfpgan
results/outputs/
results/logs/
# OS/Editors
.DS_Store
Thumbs.db
# Conda
*.conda
*.lock
